@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  overflow: hidden;
  margin: 0px;
}

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#canvas{
  border: 1px solid #000;
}

#titleEl, #scoreEl {
  font-family: 'Press Start 2P', cursive;
}

#modalEl {
  border-radius: 10px;
  height: 14rem;
  max-height: 20rem;
  background-color: #ded895;
  border: 2px solid #8F7D86;
}

#startGameBtn, #restartGameBtn {
  width: 60px;
  height: 60px;
  border: 2px solid #000;
  border-radius: 10px;
  transition: width 0.2s, height 0.2s, font-size 0.2s, line-height 0.2s;
}

#startGameBtn:hover {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  line-height: 3rem;
}

#scoreLabel, #highScoreLabel {
  font-family: 'Press Start 2P', cursive;
  color: #f26a0f;
  letter-spacing: 0.1rem;
}

.trophy {
  /*
    gold: -445px -1047px
    silver: -445px -960px
    no-medal: 
  */


  width: 100px;
  height: 100px;
  border: 2px solid #ded895;
  background: url('../assets/img/sprites.png') no-repeat;
  background-size: 126vw;
  background-position: -55px -1045px;
}

#scoreSection { max-width: 7rem; }